.prev,
.next {
  position: absolute;
  top: 30%;
  font-size: 1.2em;
  z-index: 1;
  cursor: pointer;
}

.next {
  right: 0;
}

.container{
  margin-top: 20px;
}
@media (max-device-width: 480px){
  img{
    height:120px;
    width: 120px;
}
}